.hello{
  padding-top: 147px;
  background-color: #f5f5f5;
}

.input{
  border: 0.60px solid #cecece;
  border-radius: 9px;
  width: 322px;
  height: 56px;
  background-color: #fff;
}

.hello_title{
  font-weight: 400;
  font-size: 30px;
  line-height: 189%;
  color: #000;
  text-align: center;
}

.hello_text{
  font-weight: 500;
  font-size: 13px;
  line-height: 189%;
  text-align: center;
  color: #777;
}

.hello_personal{
margin-left: 490px;
display: flex;
align-items: center;
gap: 27px;
margin-top: 79px;
margin-bottom: 48px;
}


.lalal{
  margin-top: 48px;
  margin-left: 490px;
}

.email{
  border: 0.60px solid #cecece;
border-radius: 9px;
width: 671px;
height: 56px;
margin-left: 490px;

margin-bottom: 20px;
}

.message{
  border: 0.60px solid #cecece;
border-radius: 9px;
width: 671px;
height: 232px;
margin-left: 490px;
margin-bottom: 51px;
}

.lala{
  margin-left: 490px;
}

.hello_buttom{
  font-weight: 400;
font-size: 16px;
line-height: 204%;
color: #fff;
border-radius: 10px;
background-color: #dc7000;
padding: 15px 47px 15px 48px;
width: 193px;
height: 57px;
margin-top: 51px;
margin-left: 970px;
}