.hero{
  padding-top: 84px;
}

.hero_text{
  font-weight: 400;
font-size: 16px;
line-height: 209%;
color: #848484;
text-align: center;
margin-bottom: 93px;
}

.span{
  color: #e47500;
}

.hero_title{
  font-weight: 600;
font-size: 33px;
line-height: 180%;
text-align: center;
color: #222;
margin-top: 15px;
margin-bottom: 13px;
}

.hero_icons_text{
  font-weight: 300;
  font-size: 20px;
  color: #333;
  width: 325px;
}



.hero_icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  padding-top: 112px;
  padding-left: 170px;
  gap: 300px;
}

.hero_icons_sections{
  display: flex;
  gap: 37px;
}

.hero_map{
  margin-left: 270px;
  padding-top: 93px;
  margin-bottom: 63px;
 
}