.lorem{
  padding-top: 150px;
}

.lorem_title{
  font-weight: 600;
font-size: 30px;
line-height: 187%;
color: #222;
}

.lorem_text{
  font-weight: 400;
font-size: 16px;
line-height: 187%;
color: #525252;
width: 545px;
margin-top: 32px;
}

.lorem_b_title{
  font-weight: 500;
font-size: 30px;
color: #fff;
margin-top: 40px;
}

.lorem_b_text{
  font-weight: 400;
font-size: 17px;
color: #fff;
width: 636px;
margin-top: 10px;
}

.lorem_black{
  border-radius: 15px;
  background-color: #1b1b1b;
  display: flex;
  gap: 30px;
}

.lorem_button{
  font-weight: 400;
font-size: 13px;
text-align: center;
color: #fff;
padding: 8px 13px 9px 22px;
border-radius: 8px;
width: 104px;
height: 37px;
background-color: #dc7000;
}

.log_in{
  border-radius: 8px;
  background-color: #fff;
  width: 385px;
height: 48px;
margin-top: 71px;
}

.lorem_b{
  margin-left: 56px;
}